<!-- directive d'affichage angular: l'interpolation avec {{  }}       -->
<div class="row justify-content-evenly">
<div *ngFor="let recette of recettes" class="card w-25 col-md-3 p-0 m-2">
  <div class="card-header p-0 m-0">
    <img src="{{ recette.photo }}" alt="" class="img-top img-fluid">
    <h2 class="card-title">{{ recette.titre }}</h2>
  </div>
  <div class="card-body">
    <p>Description:{{ recette.description }}</p>

 <app-detail-recette [difficulte]="recette.difficulte" [cout]="recette.cout" [preparation]="recette.tempsPrep" [cuisson]="recette.tempsCuisson"   ></app-detail-recette>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Voir la recette
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Recette</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <p [innerHTML]="recette.ingredients" ></p>
            <div class="dropdown-divider"></div>
            <p [innerHTML]="recette.etapes"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
